.table tr{
    height: 60px;
    border-bottom:1px solid #d1d5db;
    --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000)
}
.table td{
    height: 60px;
}
.table svg{
    height: 22px;
    width: 22px;
}